@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

.PP-Section1 {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  .PP-Section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .PP-Text1 {
      font-size: 18px;
      font-weight: 600;
      color: black;
    }
    .PP-Section3 {
      display: flex;
      cursor: pointer;
    }
  }
  .PP-Section4 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
    .PP-Section5 {
      width: 47%;
      margin: 1.3rem 0;
      .PP-Text2 {
        margin: 0;
        font-weight: 500;
        font-size: 18px;
      }
      .PP-Text3 {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
      }
      .PP-Text4 {
        margin: 0;
        font-weight: 500;
        font-size: 18px;
        color: gray;
      }
    }
    .PP-Section6 {
      width: 100%;
      margin: 0.5rem 0;
      .PP-Text2 {
        margin: 0;
        font-weight: 500;
        font-size: 18px;
      }
      .PP-Text3 {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
      }
      .PP-Text4 {
        margin: 0;
        font-weight: 500;
        font-size: 18px;
        color: gray;
      }
    }
  }
}

.IconDiv {
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.IconButton {
  font-size: 24px;
  cursor: pointer;
  margin-right: 1.2rem;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.IconButton:hover {
  font-size: 28px;
  color: blue;
}

.AlignStart {
  display: flex;
  flex-direction: column;
  align-items: start;
}
