.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 350px;
  margin-inline-end: 8px;
}

.ant-upload-rtl.upload-list-inline .ant-upload-list-item {
  float: right;
}
.ChangePaddingCardBody {
  .ant-card-body {
    padding: 8px;
  }
}
